<!DOCTYPE html>
<html>
  <body style="font-family: sans-serif;">
    <h2>Hello <%= name %> Hey, Developer!</h2>
    <p>Here is your OTP code:</p>
    <h1><%= otp %></h1>
    <p>This code will expire in 10 minutes. Do not share it with anyone.</p>
  </body>
</html>
